{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": [
        "*.css",
        "*.scss",
        "*.sass"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}