{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "tabWidth": 2,
        "singleQuote": true,
        "semi": true
      }
    },
    {
      "files": ["*.css", "*.scss", "*.sass"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    }
  ]
}
