@mixin socials-with-bg {
	.wp-social-link {
		background-color: #f0f0f0;
		color: #444;
	}

	.wp-icon-picker-amazon {
		background-color: #f90;
		color: #fff;
	}

	.wp-icon-picker-bandcamp {
		background-color: #1ea0c3;
		color: #fff;
	}

	.wp-icon-picker-behance {
		background-color: #0757fe;
		color: #fff;
	}

	.wp-icon-picker-bluesky {
		background-color: #0a7aff;
		color: #fff;
	}

	.wp-icon-picker-codepen {
		background-color: #1e1f26;
		color: #fff;
	}

	.wp-icon-picker-deviantart {
		background-color: #02e49b;
		color: #fff;
	}

	.wp-icon-picker-discord {
		background-color: #5865f2;
		color: #fff;
	}

	.wp-icon-picker-dribbble {
		background-color: #e94c89;
		color: #fff;
	}

	.wp-icon-picker-dropbox {
		background-color: #4280ff;
		color: #fff;
	}

	.wp-icon-picker-etsy {
		background-color: #f45800;
		color: #fff;
	}

	.wp-icon-picker-facebook {
		background-color: #0866ff;
		color: #fff;
	}

	.wp-icon-picker-fivehundredpx {
		background-color: #000;
		color: #fff;
	}

	.wp-icon-picker-flickr {
		background-color: #0461dd;
		color: #fff;
	}

	.wp-icon-picker-foursquare {
		background-color: #e65678;
		color: #fff;
	}

	.wp-icon-picker-github {
		background-color: #24292d;
		color: #fff;
	}

	.wp-icon-picker-goodreads {
		background-color: #eceadd;
		color: #382110;
	}

	.wp-icon-picker-google {
		background-color: #ea4434;
		color: #fff;
	}

	.wp-icon-picker-gravatar {
		background-color: #1d4fc4;
		color: #fff;
	}

	.wp-icon-picker-instagram {
		background-color: #f00075;
		color: #fff;
	}

	.wp-icon-picker-lastfm {
		background-color: #e21b24;
		color: #fff;
	}

	.wp-icon-picker-linkedin {
		background-color: #0d66c2;
		color: #fff;
	}

	.wp-icon-picker-mastodon {
		background-color: #3288d4;
		color: #fff;
	}

	.wp-icon-picker-medium {
		background-color: #000;
		color: #fff;
	}

	.wp-icon-picker-meetup {
		background-color: #f6405f;
		color: #fff;
	}

	.wp-icon-picker-patreon {
		background-color: #000;
		color: #fff;
	}

	.wp-icon-picker-pinterest {
		background-color: #e60122;
		color: #fff;
	}

	.wp-icon-picker-pocket {
		background-color: #ef4155;
		color: #fff;
	}

	.wp-icon-picker-reddit {
		background-color: #ff4500;
		color: #fff;
	}

	.wp-icon-picker-skype {
		background-color: #0478d7;
		color: #fff;
	}

	.wp-icon-picker-snapchat {
		background-color: #fefc00;
		color: #fff;
		stroke: #000;
	}

	.wp-icon-picker-soundcloud {
		background-color: #ff5600;
		color: #fff;
	}

	.wp-icon-picker-spotify {
		background-color: #1bd760;
		color: #fff;
	}

	.wp-icon-picker-telegram {
		background-color: #2aabee;
		color: #fff;
	}

	.wp-icon-picker-threads {
		background-color: #000;
		color: #fff;
	}

	.wp-icon-picker-tiktok {
		background-color: #000;
		color: #fff;
	}

	.wp-icon-picker-tumblr {
		background-color: #011835;
		color: #fff;
	}

	.wp-icon-picker-twitch {
		background-color: #6440a4;
		color: #fff;
	}

	.wp-icon-picker-twitter {
		background-color: #1da1f2;
		color: #fff;
	}

	.wp-icon-picker-vimeo {
		background-color: #1eb7ea;
		color: #fff;
	}

	.wp-icon-picker-vk {
		background-color: #4680c2;
		color: #fff;
	}

	.wp-icon-picker-wordpress {
		background-color: #3499cd;
		color: #fff;
	}

	.wp-icon-picker-whatsapp {
		background-color: #25d366;
		color: #fff;
	}

	.wp-icon-picker-x {
		background-color: #000;
		color: #fff;
	}

	.wp-icon-picker-yelp {
		background-color: #d32422;
		color: #fff;
	}

	.wp-icon-picker-youtube {
		background-color: #f00;
		color: #fff;
	}
}