@mixin socials-without-bg {
	.wp-icon-picker-amazon {
		color: #f90;
	}

	.wp-icon-picker-bandcamp {
		color: #1ea0c3;
	}

	.wp-icon-picker-behance {
		color: #0757fe;
	}

	.wp-icon-picker-bluesky {
		color: #0a7aff;
	}

	.wp-icon-picker-codepen {
		color: #1e1f26;
	}

	.wp-icon-picker-deviantart {
		color: #02e49b;
	}

	.wp-icon-picker-discord {
		color: #5865f2;
	}

	.wp-icon-picker-dribbble {
		color: #e94c89;
	}

	.wp-icon-picker-dropbox {
		color: #4280ff;
	}

	.wp-icon-picker-etsy {
		color: #f45800;
	}

	.wp-icon-picker-facebook {
		color: #0866ff;
	}

	.wp-icon-picker-fivehundredpx {
		color: #000;
	}

	.wp-icon-picker-flickr {
		color: #0461dd;
	}

	.wp-icon-picker-foursquare {
		color: #e65678;
	}

	.wp-icon-picker-github {
		color: #24292d;
	}

	.wp-icon-picker-goodreads {
		color: #382110;
	}

	.wp-icon-picker-google {
		color: #ea4434;
	}

	.wp-icon-picker-gravatar {
		color: #1d4fc4;
	}

	.wp-icon-picker-instagram {
		color: #f00075;
	}

	.wp-icon-picker-lastfm {
		color: #e21b24;
	}

	.wp-icon-picker-linkedin {
		color: #0d66c2;
	}

	.wp-icon-picker-mastodon {
		color: #3288d4;
	}

	.wp-icon-picker-medium {
		color: #000;
	}

	.wp-icon-picker-meetup {
		color: #f6405f;
	}

	.wp-icon-picker-patreon {
		color: #000;
	}

	.wp-icon-picker-pinterest {
		color: #e60122;
	}

	.wp-icon-picker-pocket {
		color: #ef4155;
	}

	.wp-icon-picker-reddit {
		color: #ff4500;
	}

	.wp-icon-picker-skype {
		color: #0478d7;
	}

	.wp-icon-picker-snapchat {
		color: #fff;
		stroke: #000;
	}

	.wp-icon-picker-soundcloud {
		color: #ff5600;
	}

	.wp-icon-picker-spotify {
		color: #1bd760;
	}

	.wp-icon-picker-telegram {
		color: #2aabee;
	}

	.wp-icon-picker-threads {
		color: #000;
	}

	.wp-icon-picker-tiktok {
		color: #000;
	}

	.wp-icon-picker-tumblr {
		color: #011835;
	}

	.wp-icon-picker-twitch {
		color: #6440a4;
	}

	.wp-icon-picker-twitter {
		color: #1da1f2;
	}

	.wp-icon-picker-vimeo {
		color: #1eb7ea;
	}

	.wp-icon-picker-vk {
		color: #4680c2;
	}

	.wp-icon-picker-whatsapp {
		color: #25d366;
	}

	.wp-icon-picker-wordpress {
		color: #3499cd;
	}

	.wp-icon-picker-x {
		color: #000;
	}

	.wp-icon-picker-yelp {
		color: #d32422;
	}

	.wp-icon-picker-youtube {
		color: #f00;
	}
}