@use "../icon/icon-with-bg.scss" as *;
@use "../icon/icon-without-bg.scss" as *;

.wp-block-ziorwebdev-icon-picker {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	padding-left: 0;
	padding-right: 0;
	// Some themes set text-indent on all <ul>
	text-indent: 0;
	// Some themes give all <ul> default margin instead of padding.
	margin-left: 0;

	// Unset background colors that can be inherited from Global Styles.
	background: none;

	// Some themes add underlines, false underlines (via shadows), and borders to <a>.
	.wp-ziorwebdev-icon a,
	.wp-ziorwebdev-icon a:hover {
		text-decoration: none;
		border-bottom: 0;
		box-shadow: none;
	}

	.wp-ziorwebdev-icon {
		svg {
			width: 1em;
			height: 1em;
		}

		span:not(.screen-reader-text) {
			margin-left: 0.5em;
			margin-right: 0.5em;
			font-size: 0.65em;
		}
	}

	// Icon sizes.
	// Small.
	&.has-small-icon-size {
		font-size: 16px; // 16 makes for a quarter-padding that keeps the icon centered.
	}

	// Normal/default.
	&,
	&.has-normal-icon-size {
		font-size: 24px;
	}

	// Large.
	&.has-large-icon-size {
		font-size: 36px;
	}

	// Huge.
	&.has-huge-icon-size {
		font-size: 48px;
	}

	// Center flex items. This has an equivalent in editor.scss.
	// It also needs to override some of the default classes usually applied to the centering class.
	// align left must not be set, because this is the default (flex-start).
	&.aligncenter {
		justify-content: center;
		display: flex;
	}

	&.alignright {
		justify-content: flex-end;
	}
}

.wp-block-ziorwebdev-icon {
	/* display: block; */
	border-radius: 9999px; // This makes it pill-shaped instead of oval, in cases where the image fed is not perfectly sized.

	@media not (prefers-reduced-motion) {
		transition: transform 0.1s ease;
	}

	// Dimensions.
	height: auto;

	a {
		align-items: center;
		display: flex;
		line-height: 0;
	}

	&:hover {
		transform: scale(1.1);
	}
}

// This needs specificity because themes usually override it with things like .widget-area a.
.wp-block-ziorwebdev-icon-picker .wp-block-ziorwebdev-icon.wp-ziorwebdev-icon {
	display: inline-block;
	margin: 0;
	padding: 0;

	.wp-block-ziorwebdev-icon-anchor {

		&,
		&:hover,
		&:active,
		&:visited,
		svg {
			color: currentColor;
			fill: currentColor;
		}
	}
}

// Provide colors for a range of icons.
:where(.wp-block-ziorwebdev-icon-picker:not(.is-style-logos-only)) {
	// Generic items such as mail, feed, etc.
	@include icon-with-bg;
}

// Treatment for logos only style.
// The specificity for this selector has not been reduced to 0-1-0 as per
// global styles variation selectors as the lack of background should be
// enforced for this block style.
:where(.wp-block-ziorwebdev-icon-picker.is-style-logos-only) {
	.wp-ziorwebdev-icon {
		background: none;

		// Make these bigger.
		svg {
			width: 1.25em;
			height: 1.25em;
		}
	}

	@include icon-without-bg;
}

// Treatment for pill shape style.
.wp-block-ziorwebdev-icon-picker.is-style-pill-shape {
	.wp-ziorwebdev-icon {
		width: auto;
	}
}

// The following rules have their selector specificity set to 0-1-0 to
// facilitate theme.json styling of the inner icon block padding.
:root :where(.wp-block-ziorwebdev-icon-picker .wp-ziorwebdev-icon a) {
	padding: 0.25em;
}

:root :where(.wp-block-ziorwebdev-icon-picker.is-style-logos-only .wp-ziorwebdev-icon a) {
	padding: 0;
}

:root :where(.wp-block-ziorwebdev-icon-picker.is-style-pill-shape .wp-ziorwebdev-icon a) {
	padding-left: calc((2/3) * 1em);
	padding-right: calc((2/3) * 1em);
}

// Ensure the Snapchat label is visible when no custom
// icon color or background color is set.
.wp-block-ziorwebdev-icon-picker:not(.has-icon-color):not(.has-icon-background-color) {
	.wp-ziorwebdev-icon-snapchat {
		.wp-block-ziorwebdev-icon-label {
			color: #000;
		}
	}
}