@mixin icon-with-bg {
	.wp-ziorwebdev-icon {
		background-color: #f0f0f0;
		color: #444;
	}

	.wp-ziorwebdev-icon-amazon {
		background-color: #f90;
		color: #fff;
	}

	.wp-ziorwebdev-icon-bandcamp {
		background-color: #1ea0c3;
		color: #fff;
	}

	.wp-ziorwebdev-icon-behance {
		background-color: #0757fe;
		color: #fff;
	}

	.wp-ziorwebdev-icon-bluesky {
		background-color: #0a7aff;
		color: #fff;
	}

	.wp-ziorwebdev-icon-codepen {
		background-color: #1e1f26;
		color: #fff;
	}

	.wp-ziorwebdev-icon-deviantart {
		background-color: #02e49b;
		color: #fff;
	}

	.wp-ziorwebdev-icon-discord {
		background-color: #5865f2;
		color: #fff;
	}

	.wp-ziorwebdev-icon-dribbble {
		background-color: #e94c89;
		color: #fff;
	}

	.wp-ziorwebdev-icon-dropbox {
		background-color: #4280ff;
		color: #fff;
	}

	.wp-ziorwebdev-icon-etsy {
		background-color: #f45800;
		color: #fff;
	}

	.wp-ziorwebdev-icon-facebook {
		background-color: #0866ff;
		color: #fff;
	}

	.wp-ziorwebdev-icon-fivehundredpx {
		background-color: #000;
		color: #fff;
	}

	.wp-ziorwebdev-icon-flickr {
		background-color: #0461dd;
		color: #fff;
	}

	.wp-ziorwebdev-icon-foursquare {
		background-color: #e65678;
		color: #fff;
	}

	.wp-ziorwebdev-icon-github {
		background-color: #24292d;
		color: #fff;
	}

	.wp-ziorwebdev-icon-goodreads {
		background-color: #eceadd;
		color: #382110;
	}

	.wp-ziorwebdev-icon-google {
		background-color: #ea4434;
		color: #fff;
	}

	.wp-ziorwebdev-icon-gravatar {
		background-color: #1d4fc4;
		color: #fff;
	}

	.wp-ziorwebdev-icon-instagram {
		background-color: #f00075;
		color: #fff;
	}

	.wp-ziorwebdev-icon-lastfm {
		background-color: #e21b24;
		color: #fff;
	}

	.wp-ziorwebdev-icon-linkedin {
		background-color: #0d66c2;
		color: #fff;
	}

	.wp-ziorwebdev-icon-mastodon {
		background-color: #3288d4;
		color: #fff;
	}

	.wp-ziorwebdev-icon-medium {
		background-color: #000;
		color: #fff;
	}

	.wp-ziorwebdev-icon-meetup {
		background-color: #f6405f;
		color: #fff;
	}

	.wp-ziorwebdev-icon-patreon {
		background-color: #000;
		color: #fff;
	}

	.wp-ziorwebdev-icon-pinterest {
		background-color: #e60122;
		color: #fff;
	}

	.wp-ziorwebdev-icon-pocket {
		background-color: #ef4155;
		color: #fff;
	}

	.wp-ziorwebdev-icon-reddit {
		background-color: #ff4500;
		color: #fff;
	}

	.wp-ziorwebdev-icon-skype {
		background-color: #0478d7;
		color: #fff;
	}

	.wp-ziorwebdev-icon-snapchat {
		background-color: #fefc00;
		color: #fff;
		stroke: #000;
	}

	.wp-ziorwebdev-icon-soundcloud {
		background-color: #ff5600;
		color: #fff;
	}

	.wp-ziorwebdev-icon-spotify {
		background-color: #1bd760;
		color: #fff;
	}

	.wp-ziorwebdev-icon-telegram {
		background-color: #2aabee;
		color: #fff;
	}

	.wp-ziorwebdev-icon-threads {
		background-color: #000;
		color: #fff;
	}

	.wp-ziorwebdev-icon-tiktok {
		background-color: #000;
		color: #fff;
	}

	.wp-ziorwebdev-icon-tumblr {
		background-color: #011835;
		color: #fff;
	}

	.wp-ziorwebdev-icon-twitch {
		background-color: #6440a4;
		color: #fff;
	}

	.wp-ziorwebdev-icon-twitter {
		background-color: #1da1f2;
		color: #fff;
	}

	.wp-ziorwebdev-icon-vimeo {
		background-color: #1eb7ea;
		color: #fff;
	}

	.wp-ziorwebdev-icon-vk {
		background-color: #4680c2;
		color: #fff;
	}

	.wp-ziorwebdev-icon-wordpress {
		background-color: #3499cd;
		color: #fff;
	}

	.wp-ziorwebdev-icon-whatsapp {
		background-color: #25d366;
		color: #fff;
	}

	.wp-ziorwebdev-icon-x {
		background-color: #000;
		color: #fff;
	}

	.wp-ziorwebdev-icon-yelp {
		background-color: #d32422;
		color: #fff;
	}

	.wp-ziorwebdev-icon-youtube {
		background-color: #f00;
		color: #fff;
	}
}