@mixin icon-without-bg {
	.wp-ziorwebdev-icon-amazon {
		color: #f90;
	}

	.wp-ziorwebdev-icon-bandcamp {
		color: #1ea0c3;
	}

	.wp-ziorwebdev-icon-behance {
		color: #0757fe;
	}

	.wp-ziorwebdev-icon-bluesky {
		color: #0a7aff;
	}

	.wp-ziorwebdev-icon-codepen {
		color: #1e1f26;
	}

	.wp-ziorwebdev-icon-deviantart {
		color: #02e49b;
	}

	.wp-ziorwebdev-icon-discord {
		color: #5865f2;
	}

	.wp-ziorwebdev-icon-dribbble {
		color: #e94c89;
	}

	.wp-ziorwebdev-icon-dropbox {
		color: #4280ff;
	}

	.wp-ziorwebdev-icon-etsy {
		color: #f45800;
	}

	.wp-ziorwebdev-icon-facebook {
		color: #0866ff;
	}

	.wp-ziorwebdev-icon-fivehundredpx {
		color: #000;
	}

	.wp-ziorwebdev-icon-flickr {
		color: #0461dd;
	}

	.wp-ziorwebdev-icon-foursquare {
		color: #e65678;
	}

	.wp-ziorwebdev-icon-github {
		color: #24292d;
	}

	.wp-ziorwebdev-icon-goodreads {
		color: #382110;
	}

	.wp-ziorwebdev-icon-google {
		color: #ea4434;
	}

	.wp-ziorwebdev-icon-gravatar {
		color: #1d4fc4;
	}

	.wp-ziorwebdev-icon-instagram {
		color: #f00075;
	}

	.wp-ziorwebdev-icon-lastfm {
		color: #e21b24;
	}

	.wp-ziorwebdev-icon-linkedin {
		color: #0d66c2;
	}

	.wp-ziorwebdev-icon-mastodon {
		color: #3288d4;
	}

	.wp-ziorwebdev-icon-medium {
		color: #000;
	}

	.wp-ziorwebdev-icon-meetup {
		color: #f6405f;
	}

	.wp-ziorwebdev-icon-patreon {
		color: #000;
	}

	.wp-ziorwebdev-icon-pinterest {
		color: #e60122;
	}

	.wp-ziorwebdev-icon-pocket {
		color: #ef4155;
	}

	.wp-ziorwebdev-icon-reddit {
		color: #ff4500;
	}

	.wp-ziorwebdev-icon-skype {
		color: #0478d7;
	}

	.wp-ziorwebdev-icon-snapchat {
		color: #fff;
		stroke: #000;
	}

	.wp-ziorwebdev-icon-soundcloud {
		color: #ff5600;
	}

	.wp-ziorwebdev-icon-spotify {
		color: #1bd760;
	}

	.wp-ziorwebdev-icon-telegram {
		color: #2aabee;
	}

	.wp-ziorwebdev-icon-threads {
		color: #000;
	}

	.wp-ziorwebdev-icon-tiktok {
		color: #000;
	}

	.wp-ziorwebdev-icon-tumblr {
		color: #011835;
	}

	.wp-ziorwebdev-icon-twitch {
		color: #6440a4;
	}

	.wp-ziorwebdev-icon-twitter {
		color: #1da1f2;
	}

	.wp-ziorwebdev-icon-vimeo {
		color: #1eb7ea;
	}

	.wp-ziorwebdev-icon-vk {
		color: #4680c2;
	}

	.wp-ziorwebdev-icon-whatsapp {
		color: #25d366;
	}

	.wp-ziorwebdev-icon-wordpress {
		color: #3499cd;
	}

	.wp-ziorwebdev-icon-x {
		color: #000;
	}

	.wp-ziorwebdev-icon-yelp {
		color: #d32422;
	}

	.wp-ziorwebdev-icon-youtube {
		color: #f00;
	}
}