/* Minimal left-aligned appender for icon-list */
.wp-block-ziorwebdev-icon-list {
    .block-list-appender {
        position: initial !important;
        margin-top: 10px !important;

        button.components-button {
            background-color: transparent;
            color: #1e73be;
            border: 1px solid #1e73be;
            height: 30px;
            cursor: pointer;
            transition: all 0.15s ease;

            &:hover {
                background-color: #1e73be;
                color: #fff;
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px rgba(30, 115, 190, 0.3);
            }

            &::after {
                content: '+';
                display: inline-block;
                margin-left: 6px;
            }
        }
    }
}