@mixin icon-without-bg {
  .wp-zior-icon-amazon {
    color: #f90;
  }

  .wp-zior-icon-bandcamp {
    color: #1ea0c3;
  }

  .wp-zior-icon-behance {
    color: #0757fe;
  }

  .wp-zior-icon-bluesky {
    color: #0a7aff;
  }

  .wp-zior-icon-codepen {
    color: #1e1f26;
  }

  .wp-zior-icon-deviantart {
    color: #02e49b;
  }

  .wp-zior-icon-discord {
    color: #5865f2;
  }

  .wp-zior-icon-dribbble {
    color: #e94c89;
  }

  .wp-zior-icon-dropbox {
    color: #4280ff;
  }

  .wp-zior-icon-etsy {
    color: #f45800;
  }

  .wp-zior-icon-facebook {
    color: #0866ff;
  }

  .wp-zior-icon-fivehundredpx {
    color: #000;
  }

  .wp-zior-icon-flickr {
    color: #0461dd;
  }

  .wp-zior-icon-foursquare {
    color: #e65678;
  }

  .wp-zior-icon-github {
    color: #24292d;
  }

  .wp-zior-icon-goodreads {
    color: #382110;
  }

  .wp-zior-icon-google {
    color: #ea4434;
  }

  .wp-zior-icon-gravatar {
    color: #1d4fc4;
  }

  .wp-zior-icon-instagram {
    color: #f00075;
  }

  .wp-zior-icon-lastfm {
    color: #e21b24;
  }

  .wp-zior-icon-linkedin {
    color: #0d66c2;
  }

  .wp-zior-icon-mastodon {
    color: #3288d4;
  }

  .wp-zior-icon-medium {
    color: #000;
  }

  .wp-zior-icon-meetup {
    color: #f6405f;
  }

  .wp-zior-icon-patreon {
    color: #000;
  }

  .wp-zior-icon-pinterest {
    color: #e60122;
  }

  .wp-zior-icon-pocket {
    color: #ef4155;
  }

  .wp-zior-icon-reddit {
    color: #ff4500;
  }

  .wp-zior-icon-skype {
    color: #0478d7;
  }

  .wp-zior-icon-snapchat {
    color: #fff;
    stroke: #000;
  }

  .wp-zior-icon-soundcloud {
    color: #ff5600;
  }

  .wp-zior-icon-spotify {
    color: #1bd760;
  }

  .wp-zior-icon-telegram {
    color: #2aabee;
  }

  .wp-zior-icon-threads {
    color: #000;
  }

  .wp-zior-icon-tiktok {
    color: #000;
  }

  .wp-zior-icon-tumblr {
    color: #011835;
  }

  .wp-zior-icon-twitch {
    color: #6440a4;
  }

  .wp-zior-icon-twitter {
    color: #1da1f2;
  }

  .wp-zior-icon-vimeo {
    color: #1eb7ea;
  }

  .wp-zior-icon-vk {
    color: #4680c2;
  }

  .wp-zior-icon-whatsapp {
    color: #25d366;
  }

  .wp-zior-icon-wordpress {
    color: #3499cd;
  }

  .wp-zior-icon-x {
    color: #000;
  }

  .wp-zior-icon-yelp {
    color: #d32422;
  }

  .wp-zior-icon-youtube {
    color: #f00;
  }
}