@mixin icon-with-bg {
  .wp-zior-icon {
    background-color: #f0f0f0;
    color: #444;
  }

  .wp-zior-icon-amazon {
    background-color: #f90;
    color: #fff;
  }

  .wp-zior-icon-bandcamp {
    background-color: #1ea0c3;
    color: #fff;
  }

  .wp-zior-icon-behance {
    background-color: #0757fe;
    color: #fff;
  }

  .wp-zior-icon-bluesky {
    background-color: #0a7aff;
    color: #fff;
  }

  .wp-zior-icon-codepen {
    background-color: #1e1f26;
    color: #fff;
  }

  .wp-zior-icon-deviantart {
    background-color: #02e49b;
    color: #fff;
  }

  .wp-zior-icon-discord {
    background-color: #5865f2;
    color: #fff;
  }

  .wp-zior-icon-dribbble {
    background-color: #e94c89;
    color: #fff;
  }

  .wp-zior-icon-dropbox {
    background-color: #4280ff;
    color: #fff;
  }

  .wp-zior-icon-etsy {
    background-color: #f45800;
    color: #fff;
  }

  .wp-zior-icon-facebook {
    background-color: #0866ff;
    color: #fff;
  }

  .wp-zior-icon-fivehundredpx {
    background-color: #000;
    color: #fff;
  }

  .wp-zior-icon-flickr {
    background-color: #0461dd;
    color: #fff;
  }

  .wp-zior-icon-foursquare {
    background-color: #e65678;
    color: #fff;
  }

  .wp-zior-icon-github {
    background-color: #24292d;
    color: #fff;
  }

  .wp-zior-icon-goodreads {
    background-color: #eceadd;
    color: #382110;
  }

  .wp-zior-icon-google {
    background-color: #ea4434;
    color: #fff;
  }

  .wp-zior-icon-gravatar {
    background-color: #1d4fc4;
    color: #fff;
  }

  .wp-zior-icon-instagram {
    background-color: #f00075;
    color: #fff;
  }

  .wp-zior-icon-lastfm {
    background-color: #e21b24;
    color: #fff;
  }

  .wp-zior-icon-linkedin {
    background-color: #0d66c2;
    color: #fff;
  }

  .wp-zior-icon-mastodon {
    background-color: #3288d4;
    color: #fff;
  }

  .wp-zior-icon-medium {
    background-color: #000;
    color: #fff;
  }

  .wp-zior-icon-meetup {
    background-color: #f6405f;
    color: #fff;
  }

  .wp-zior-icon-patreon {
    background-color: #000;
    color: #fff;
  }

  .wp-zior-icon-pinterest {
    background-color: #e60122;
    color: #fff;
  }

  .wp-zior-icon-pocket {
    background-color: #ef4155;
    color: #fff;
  }

  .wp-zior-icon-reddit {
    background-color: #ff4500;
    color: #fff;
  }

  .wp-zior-icon-skype {
    background-color: #0478d7;
    color: #fff;
  }

  .wp-zior-icon-snapchat {
    background-color: #fefc00;
    color: #fff;
    stroke: #000;
  }

  .wp-zior-icon-soundcloud {
    background-color: #ff5600;
    color: #fff;
  }

  .wp-zior-icon-spotify {
    background-color: #1bd760;
    color: #fff;
  }

  .wp-zior-icon-telegram {
    background-color: #2aabee;
    color: #fff;
  }

  .wp-zior-icon-threads {
    background-color: #000;
    color: #fff;
  }

  .wp-zior-icon-tiktok {
    background-color: #000;
    color: #fff;
  }

  .wp-zior-icon-tumblr {
    background-color: #011835;
    color: #fff;
  }

  .wp-zior-icon-twitch {
    background-color: #6440a4;
    color: #fff;
  }

  .wp-zior-icon-twitter {
    background-color: #1da1f2;
    color: #fff;
  }

  .wp-zior-icon-vimeo {
    background-color: #1eb7ea;
    color: #fff;
  }

  .wp-zior-icon-vk {
    background-color: #4680c2;
    color: #fff;
  }

  .wp-zior-icon-wordpress {
    background-color: #3499cd;
    color: #fff;
  }

  .wp-zior-icon-whatsapp {
    background-color: #25d366;
    color: #fff;
  }

  .wp-zior-icon-x {
    background-color: #000;
    color: #fff;
  }

  .wp-zior-icon-yelp {
    background-color: #d32422;
    color: #fff;
  }

  .wp-zior-icon-youtube {
    background-color: #f00;
    color: #fff;
  }
}